@font-face {
	font-family: "dimock";
	src: 
		url("/CSS/Fonts/Dimock.otf") format("opentype"),
		url("/CSS/Fonts/dimock.woff2") format("woff2"),
		url("/CSS/Fonts/dimock.woff") format("woff");
}

* { font-family: "dimock";
}

body{
background-color: #C0C5C1;
font-family: "dimock";
margin:10px 100px 0px 100px;
}


h1{
font-family: "dimock";  
}



h3{
font-family: "dimock";   
}


.paragraphborder  {
border-radius: 25px;
padding: 20px;
border: 2px solid #73AD21;
}



.right{
text-align: right;
}

.center{
 text-align: center;
}
    
.left{
text-align: left;
}



.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}



span.credits {
    display:inline-block;
    vertical-align:top;
    text-align: center;
    width: 140px;
    height: 280px;
    padding: 15px;
    margin:5px 5px 5px 5px;
    border: 3px green;        
    background-color: white; 
}

.col {
  display: table-cell;
  padding: 0px;
  width: 140px;
}

.vl {
  border-left: 3px solid black;
  height: 235px;
}

.vl2 {
  border-left: 3px solid black;
  height: 430px;
}

.vl3 {
  border-left: 3px solid black;
  height: 315px;
}

.col2 {
  display: table-cell;
  padding: 0px;
  height: 300px;
  width: 140px;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}