body{
font-family: "Palatino";
margin: 35px;
}



.aclonica{
    font-family: "Aclonica";
}



.paragraphborder  {
border-radius: 25px;
padding: 20px;
border: 2px solid #73AD21;
}



.right{
text-align: right;
}

.center{
 text-align: center;
}
    
.left{
text-align: left;
}



.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}



span.credits {
    display: inline-block;
    vertical-align:top;
    text-align: center;
    width: 140px;
    height: 280px;
    padding: 15px;
    border: 3px solid green;        
    background-color: white; 
}
