@font-face {
	font-family: "dimock";
	src: 
		url("/CSS/Fonts/Dimock.otf") format("opentype"),
		url("/CSS/Fonts/dimock.woff2") format("woff2"),
		url("/CSS/Fonts/dimock.woff") format("woff");
}

* { 
	font-family: "dimock";
	background-color: ghostwhite;
	color: darkslateblue;
}

body{
font-family: "dimock";
margin:10px 100px 0px 100px;
}

.paragraphborder  {
border-radius: 25px;
padding: 20px;
border: 2px solid darkgreen;
}

.right{
text-align: right;
}

.center{
 text-align: center;
}
    
.left{
text-align: left;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: blue;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: darkgreen;
    color: ghostwhite;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

span.credits {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 14%;
    height: 200px;
    padding: 15px;
    margin: 5px 5px 5px 5px;
    border: 3px solid darkgreen;        
}

.col {
  display: table-cell;
  padding: 0px;
  width: 140px;
}

.vl {
  border-left: 3px solid black;
  height: 235px;
}

.vl2 {
  border-left: 3px solid black;
  height: 430px;
}

.vl3 {
  border-left: 3px solid black;
  height: 315px;
}

.col2 {
  display: table-cell;
  padding: 0px;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}