Scripts/.Rhistory
Scripts/.RData
Scripts/Run weather r file.bat
Scripts/monthly.bat
Scripts/committandpushmonthly.bat
Scripts/weeklycommitandpush.bat
Scripts/weatherPicker.r.Rout
Scripts/monthlyStuffPicker.r.Rout
Scripts/commitmessage.txt