body{
font-family: "Palatino";
}
h1  {
font-family: "Aclonica";
text-align: center;
}
h3  {
font-family: "Aclonica";
text-align: center;
}
p  {
text-align: center;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    text-align: right;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

