@font-face {
    font-family: 'dimockregular';
    src: url('https://farfetchednews.github.io/CSS/Fonts/dimock-webfont.woff2') format('woff2'),
         url('https://farfetchednews.github.io/CSS/Fonts/dimock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}